<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/assets/main.css">
    <link type="image/x-icon" rel="icon" href="./src/img/pinboard_icon_130856.ico">
    <title>Task</title>
</head>
<body>
<div id="app" class="notes">
  <div class="formNote" v-if="showForm">
        <form @submit.prevent="addNote">
            <h2>Форма добавления заметки</h2>
            <label for="title">Заголовок заметки:</label>
            <input id="title" type="text" v-model="newNote.title">
            <div v-for="(listItem, index) in newList" :key="index">
                <label for="listItemTitle">Список {{ index + 1 }}:</label>
                <input id="listItemTitle" type="text" v-model="newList[index].title">
            </div>
            <button type="button" @click="addList">Добавить список</button>
            <button type="button" @click="addToNullNotes">Добавить заметку</button>
        </form>
    </div>
    <button @click="toggleForm" class="buttonForm">{{ showForm ? 'Убрать форму' : 'Создать Задачу' }}</button>   

    <div class="column">
      <h2>0%</h2>
      <div v-for="(note, index) in nullNotes" :key="index">
          <div class="note">
              <h3>{{ note.title }}</h3>
              <ul>
                  <li v-for="(listItem, listIndex) in note.lists" :key="listIndex">
                      <input type="checkbox" id="checkbox" class="checkbox-animated" :value="Number(listItem.title)" v-model.number="note.doneListItems[listIndex]" @change="autoMoveNote(index, 'nullNotes')" :disabled="isColumnBlocked">
                      <label :for="'listItem' + index + '_' + listIndex">{{ listItem.title }}</label>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  
  <div class="column">
      <h2>50%</h2>
      <div v-for="(note, index) in halfNotes" :key="index">
          <div class="note">
              <h3>{{ note.title }}</h3>
              <ul>
                  <li v-for="(listItem, listIndex) in note.lists" :key="listIndex">
                      <input type="checkbox" class="checkbox-animated"  :value="Number(listItem.title)" v-model.number="note.doneListItems[listIndex]" @change="autoMoveNote(index, 'halfNotes')">
                      <label :for="'listItem' + index + '_' + listIndex">{{ listItem.title }}</label>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  
  <div class="column">
    <h2>100%</h2>
    <div v-for="(doneNote, index) in doneNotesWithLastDoneAt" :key="index">
        <div class="note">
        <h3>{{ doneNote.title }}</h3>
        <ul>
          <li v-for="(listItem, listIndex) in doneNote.lists" :key="listIndex">
            <input type="checkbox" :value="listItem.title" v-model="doneNote.doneListItems[listIndex]" :disabled="true">
            <label :for="'listItem' + index">{{ listItem.title }}</label>
          </li>
        </ul>
        <p>Последнее обновление: {{ doneNote.lastDoneAt }}</p>
      </div>
    </div>
    <div v-for="(note, index) in doneNotes" :key="`${index}-done`">
      <div class="note">
        <h3>{{ note.title }}</h3>
        <ul>
          <li v-for="(listItem, listIndex) in note.lists" :key="listIndex">
            <input type="checkbox" :value="listItem.title" v-model="note.doneListItems[listIndex]" :disabled="true">
            <label :for="'listItem' + index">{{ listItem.title }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
  <script defer src="src/vue.js"></script>
  <script defer src="src/main.js"></script>
</body>
</html>