body {
	background: linear-gradient(81deg, #c833d9d9, #6c50ccf7);
}
.notes {
  display: flex; 
  justify-content: space-between;
}
.note {
    background: linear-gradient(135deg, #cf33c5 0%, #5f84e4 100%);
    border: 2px solid rgb(124 50 174 / 67%);
    margin-bottom: 20px;
    height: 90%;
}
.column {
  background: linear-gradient(90deg, #785cee, #ba5ee4, #c356af);
  width: 30%;
  display: flex;
  border: 2px solid #c53fe2e6;
  flex-direction: column;
  color: azure;
  text-align: center;
  margin-left: 20px;
}
ul {
  list-style-type: none;
}
.formNote {
  display: flex;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    height: 400px;
    background: linear-gradient(41deg, #f558f8, #195afd94);
    align-items: center;
    text-align: center;
    border: 2px dashed #e1404e;
    box-shadow: -1px 2px 15px rgba(0,0,0,0.5);
    margin-right: 15px;
    color: white;
    margin-top: 80px;
}
.checkbox-animated {
  display: inline-block;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  transition: background-color 0.3s, transform 0.3s;
}

.checkbox-animated:checked {
  background-color: #178de7;
  transform: scale(1.2);
}

.checkbox-animated:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.45);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e25bed;
  box-shadow: 0 0 0 0px #1b47bf;
  transition: box-shadow 0.3s;
}

.checkbox-animated:checked::before {
  box-shadow: 0 0 0 10px #3f9fe8;
}
button {
  margin-top: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 20px;
  background-image: linear-gradient(to right, #cd40ff 0%, #00bfff 51%, #3043ab 100%);
  border: bisque;
  color: beige;
}
button:hover {
  background-position: right center;
}
.buttonedit {
  background: #00ccff;
  margin-top: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #70bdff 0%, #46e5e9 51%, #195afd 100%);
}
.buttonedit :hover {
  background-position: right center;
}
.buttondelete {
  background: #ff1259;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #e1404e 0%, #ff0000 51%, #bb1b39 100%);
}
.buttondelete :hover {
  background-position: right center;
}
.buttonmove {
  background: #508eff75;
  margin-bottom: 10px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #009cff 0%, #0261ff 51%, #37a1e6 100%);
  color: cornsilk;
}
.buttonmove :hover {
  background-position: right center;
}
.buttonForm {
    background: linear-gradient(81deg, #486acc, #c709c7);
    color: cornsilk;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 10px #eee;
    background-image: linear-gradient(135deg, #d659ce 0%, #5fc3e4 100%);
    border: bisque;
}
.buttonForm:hover {
  background: linear-gradient(81deg, #785cee, #ba5ee4);
  background-position: right center;
}
.taskoverdue {
  color: #ff1b1b;
}
.taskcompleted {
  color: #1eff1b;
}
.formedit {
  display: flex;
  flex-direction: column;
}